html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../img/thomas-kelley-78865-unsplash.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: right top;
}


h1 {
    color: #fff;
    font-size: 4em;
    text-align: center;
    line-height: 0;
}

div#title {
    padding: 10px;
    background: rgba(0,0,0,0.7);
    margin-bottom: 5px;
}

div#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#content {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 50%;
}

div#results {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    margin-top: 5px;
}

div.scale {
    border: 1px solid white;
    padding: 10px;
    color: #aaa;
}

div.scale div.name {
    text-align: center;
    font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 780px) {
  body {
    background-image: url('../img/thomas-kelley-78865-unsplash-LQ.jpg');
  }

  h1 {
   font-size: 3em;	 
  } 

}
